<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Sexual Assault Support Search</title>

<!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

{{!-- NAV Bar --}}
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Colorado SANE</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/login">Provider Log In</a></li>
        </ul>
        <ul id="nav-mobile" class="sidenav">
            <li><a href="/login">Provider Log In</a></li>
        </ul>
        <a href="/login" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">Provider Log In</i></a>
    </div>
</nav>

{{!-- Handlebars Body --}}

{{{ body }}}

{{!-- Footer --}}

<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Project Bio</h5>
                <p class="grey-text text-lighten-4">We are a team of students in the University of Denver's Women's
                    Full Stack Web Development Bootcamp. We are passionate about coding and advocating. Our goal
                    with
                    this project is to improve our development skills while providing a platform for important
                    information
                    and tools for sexual assault victims and advocates. </p>
            </div>
            <div class="col l3 s12">
                <h6 class="white-text">View Our Portfolios:</h6>
                <ul>
                    <li><a class="white-text" href="https://brookj1.github.io/jbrooksportfolio/">Jamie Brooks</a></li>
                    <li><a class="white-text" href="https://gingerkrc.github.io/updated-portfolio/">Ginger Conly</a></li>
                    <li><a class="white-text" href="https://tinali91.github.io/portfolio/">Tina Li</a></li>
                    <li><a class="white-text" href="https://dstark88.github.io/Portfolio/">Denise Stark</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h6 class="white-text">Connect:</h6>
                <ul>
                    <li><a class="white-text" href="https://www.linkedin.com/in/jamie-brooks-00172321/">Jamie Brooks</a></li>
                    <li><a class="white-text" href="https://www.linkedin.com/in/ginger-conly/">Ginger Conly</a></li>
                    <li><a class="white-text" href="https://www.linkedin.com/in/tinacli/">Tina Li</a></li>
                    <li><a class="white-text" href="https://www.linkedin.com/in/denise-stark-a9387516a/">Denise Stark</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/materialize.js"></script>
<script src="/assets/js/init.js"></script>
<script src="/assets/js/signup.js"></script>
<script src="/assets/js/provider.js"></script>
<script src="/assets/js/login.js"></script>

</html>