{{!-- This is where the provider can create a new record --}}

<body>
      <!-- <nav class="navbar navbar-default"> -->
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
<!-- </nav> -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Provider Create Form <span class="provider-name"></span></h2>
      </div>
    </div>
  </div>
    <div class="container">
        <h5 class="header col s12 light">Please enter your contact information below.</h5>
        <h5 class="header col s12 light">This information will be shared with those searching for a SANE.</h5>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="first_name" type="text" class="validate">
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate">
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="hospital" type="text" class="validate">
                        <label for="hospital">Name of hospital</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="address" type="text" class="validate">
                        <label for="address">Address</label>
                    </div>
                </div>
                      <div class="row">
                    <div class="input-field col s12">
                        <input id="website" type="text" class="validate">
                        <label for="website">Website</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
            </form>
        </div>

    </div>
</body>