{{!-- This is the landing page, SANE search is launched here and results will be displayed on this page as well. --}}
<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row" id="info">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Need Help Now?</h5>

          <p class="light">For emergencies call 9-1-1, Need to talk? RAINN National Sexual Assault Hotline:
            800.656.HOPE (4673)</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Connect With An Advocate</h5>

          <p class="light">
            <a href="http://www.ccasa.org/" target="_blank">Colorado Coalition Against Sexual Assault</a>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Did You Know?</h5>

          <p class="light">Many locations will help patients with payment options for SANE services.</p>
        </div>
      </div>
    </div>

  </div>


  {{!-- SANE Search Section --}}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h2 class="header center orange-text" id="sane-header">Colorado SANE Search</h2>
      <div class="row center">
        <h6 class="header col s12 light"> Sexual Assault Nurse Examiners (SANE) are registered nurses who have
          completed specialized education and clinical preparation in the medical forensic care of the
          patient who has experienced sexual assault or abuse.</h6>
      </div>
      <div class="row center">
        <a href="sane_results" id="download-button" class="btn-large waves-effect waves-light orange">Find
          a SANE</a>
      </div>
    </div>
  </div>
</div>