{{!-- This page will display the login for providers --}}
{{!-- <body>
    <div class="row-fluid login">
<div class="row">


    <center>
        
    <div class="dialog">
        
        <div class="block-header">
            <h2>Provider Log In</h2>
        </div>
        <div class="col 16 s12"></div>
        <div class="col 13 s12">
        <form action="/authenticate" method="post">
            <label>Username</label>
            <input id="username" placeholder="Username" type="text" class="span12" />
        </div>
        <div class="col 13 s12">
            <a class="reset-password" href="#">Forgot your pasword?</a>
            <label>Password</label>
            <input id="password" name="password" placeholder="Password" type="password" class="span12">
        </div>
            <div class="form-actions">
                <a class="btn btn-primary" href="/signup"> Sign Up!</a>
                <button type="submit" class="btn btn-success pull-right"> Sign In</button>
             
                <br><br>
            </div>
        </form>
    </div>
    </center>
    </div>
</div>
</body> --}}


<body>
    <center>
    <div class="block-header">
        <h2>Provider Log In</h2>
    </div>
    <div class="container">
        <form action="/api/user" method="post"></form>
        <div class="row"> 
            <div class="col s3"></div>         
            <div class="input-field col s6">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="col s3"></div>
            <div class="input-field col s6">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
                <a class="reset-password" href="#">Forgot your pasword?</a>      
                    <div class="form-actions">
                        <br>
                        {{!-- <a class="btn btn-primary" href="/signup"> Sign Up!</a> --}}
                        <a href="/provider">
                            <button type="submit" class="btn btn-success pull-right" id="submit"> Sign In</button>
                        </a>
                        <br>
                    </div>
            </div>

        </div>
        </form>
    </div>
    </center>
</body>
