{{!-- <body>
<center>
<div class="container">
    <div class="block-header">
        <h2>New Provider Registration</h2>
    </div>
    
    <div class="row">
    <div class="col s3"></div>
      <div class="input-field col s6">
        <form id="cms">
          <div class="form-group">
            <label for="firstName">First Name:</label>
                <input type="text" class="form-control" id="firstName">
            <label for="lastName">Last Name:</label>
                <input type="text" class="form-control" id="lastName">
            <label for="email">Email:</label>
                <input type="text" class="form-control" id="email">
            <label for="password">Password:</label>
                <input type="text" class="form-control" id="password">
            <br><br>
              <div class="form-actions">
                    <br>
                    <a href="/provider">
                        <button type="submit" class="btn btn-success pull-right" id="submit"> Register</button>
                    </a>
                    <a class="btn btn-light" href="./login.handlebars">Login Page</a>
                    <br>
                </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </center>
</body> --}}

