   {{!-- For reference in creating the Materialize version of the table - can delete when successful --}}
    {{!-- var signUpForm = $("form.signup");
    var first_name = $("input#first_name");
    var last_name = $("input#last_name");
    var emailInput = $("input#email-input");
    var passwordInput = $("input#password-input"); --}}
  
  
  {{!-- Provider Registration Form on /signup --}}
  <center>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h4>Provider Registration</h4>
        
        <form class="signup">
          <div class="form-group">
            <label for="exampleInputFirstName">First Name</label>
            <input type="first_name" class="form-control" id="first_name" placeholder="First Name">
          </div>
          <div class="form-group">
            <label for="exampleInputLastName">Last Name</label>
            <input type="last_name" class="form-control" id="last_name" placeholder="Last Name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email Address</label>
            <input type="email-input" class="form-control" id="email-input" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password-input" class="form-control" id="password-input" placeholder="Password">
          </div>
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
          <br>
          <button type="submit" class="btn btn-default">Sign Up</button>
        </form>
        <p>Or log in <a href="/login">here</a></p>
      </div>
    </div>
  </div>
</center>

  