/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 *


 /* ***************************** */
 /* This creates the sticky footer which always stays at the bottom of the page */
 /* Must also tag <main></main> on each html page on body */
 body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
} 
main {
  flex: 1 0 auto;
}
/* **************************** */


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.update-info {
  padding: 2px;
  margin: 2px;
}

body {
  background-color: #f9f9f9;
} 

.light-blue.lighten-1 {
  background-color: #70abaf !important;
}

.material-icons {
  color: #944e32;
}

#download-button {
  background-color: #70abaf !important;
}

.btn {
  background-color: #70abaf !important;
  margin-top: 5px; 
}

.page-footer {
  background-color: #944e32 !important;
}

form.signup,
form.login {
  margin-top: 50px;
}

/* h4 {
  clear: both;
  padding: 2%;
} */

.delete, .update {
  padding-bottom: 40px;
  margin-top: 60px;
}

li {
  border-bottom: 1px;
  border-bottom-color: #70abaf;
}


#map {
  height: 500px;
  width: 100%;
}

/* .foot-head {
  font-size: 1.2rem;
  font-weight: bold;
} */

/* .foot-header {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 3px;
} */

#sane-header {
  color:  #944e32 !important;
}
  
h2 {
  color:  #944e32 !important;
}
/* alternative color idea for footer/accent */
/* #sane-header {
  color: #79818b !important;  
} */